In [270]:
import pandas as pd

In [271]:
schools_complete = "Resources/schools_complete.csv"
students_complete = "Resources/students_complete.csv"

In [272]:
student_data_df = pd.read_csv(students_complete)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [273]:
school_data_df = pd.read_csv(schools_complete)
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [274]:
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [275]:
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [276]:
school_data_df.isnull()

    School ID  school_name   type   size  budget
0       False        False  False  False   False
1       False        False  False  False   False
2       False        False  False  False   False
3       False        False  False  False   False
4       False        False  False  False   False
5       False        False  False  False   False
6       False        False  False  False   False
7       False        False  False  False   False
8       False        False  False  False   False
9       False        False  False  False   False
10      False        False  False  False   False
11      False        False  False  False   False
12      False        False  False  False   False
13      False        False  False  False   False
14      False        False  False  False   False

In [277]:
student_data_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [278]:
school_data_df.notnull()

    School ID  school_name  type  size  budget
0        True         True  True  True    True
1        True         True  True  True    True
2        True         True  True  True    True
3        True         True  True  True    True
4        True         True  True  True    True
5        True         True  True  True    True
6        True         True  True  True    True
7        True         True  True  True    True
8        True         True  True  True    True
9        True         True  True  True    True
10       True         True  True  True    True
11       True         True  True  True    True
12       True         True  True  True    True
13       True         True  True  True    True
14       True         True  True  True    True

In [279]:
student_data_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [280]:
school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [281]:
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [282]:
#create list of all unique prefixes and suffixes
prefixes_suffixes = ["Dr. ", "Mr. ", "Mrs. ", "Ms. ", "Miss ", " DDS", " MD", " PhD", " DVM"]
#iterate through prefix/suffix list
for word in prefixes_suffixes:
    #replace all prefixes and suffixes in student name column of dataframe with nothing
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word, "")
#see first 10 rows of fixed dataframe
student_data_df.head(10)

C:\Users\melis\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [283]:
#Requested items from Maria:
#Total number of students
#Total number of schools
#Total budget
#Average math score
#Average reading score
#Percentage of students who passed math
#Percentage of students who passed reading
#Overall passing percentage

#join school and student data sets to a new single data set
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [284]:
#Total Student count
#get total student count for merged dataset to verify correct merge
student_count = school_data_complete_df["Student ID"].count()
student_count

39170

In [285]:
#Total School Count
#get list of unique school names from merged dataset
school_count_2 = school_data_complete_df["school_name"].unique()
school_count = len(school_count_2)
print(len(school_count_2))

15

In [286]:
#Total budget for district
#calculate the total budget for the district using school dataset
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [287]:
#Average math score
#Calculate average math score across the district
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [288]:
#Average reading score
#Calculate average reading score across the district
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [289]:
#Percentage of students who passed math with a 70 or higher
#create new dataframe that contains studentss with math scores of 70 or higher
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
print(passing_math.head())
#Count students with passing math scores and store to a variable
passing_math_count = passing_math["student_name"].count()
print(passing_math_count)
#Calculate percentage of passing students
passing_math_percentage = passing_math_count / float(student_count)* 100

   Student ID   student_name gender grade        school_name  reading_score  \
0           0   Paul Bradley      M   9th  Huang High School             66
4           4     Bonnie Ray      F   9th  Huang High School             97
5           5  Bryan Miranda      M   9th  Huang High School             94
6           6  Sheena Carter      F  11th  Huang High School             82
8           8   Michael Roth      M  10th  Huang High School             95

   math_score  School ID      type  size   budget
0          79          0  District  2917  1910635
4          84          0  District  2917  1910635
5          94          0  District  2917  1910635
6          80          0  District  2917  1910635
8          87          0  District  2917  1910635
29370

In [290]:
#Percentage of students who passed reading with a 70 or higher
#create new dataframe that contains students with a reading score of 70 or higher
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
#Count number of students with a passing reading score and store to variable
passing_reading_count = passing_reading["student_name"].count()
print(passing_reading_count)
passing_reading.head()
#Calculate percentage of students with passing reading scores
passing_reading_percentage = passing_reading_count / float(student_count) * 100

33610

In [291]:
#print passing student percentages for math & reading
print(passing_math_percentage)
print(passing_reading_percentage)

74.9808526933878
85.80546336482001

In [292]:
#Overall passing percentage
#create new dataframe that contains students who passed math and reading with a 70 or higher
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
#count number of students who passed math and reading and save to a variable
passing_math_reading_count = passing_math_reading["student_name"].count()
#Calculate percentage of students who passed math and reading
passing_mr_percentage = passing_math_reading_count / float(student_count) *100
print(passing_mr_percentage)

65.17232575950983

In [293]:
#Create dataframe for district summary information
district_summary_df = pd.DataFrame(
[{"Total Schools": school_count,
 "Total Students": student_count,
 "Total Budget": total_budget,
 "Average Math Score": average_math_score,
 "Average Reading Score": average_reading_score,
 "% Passing Math": passing_math_percentage,
 "% Passing Reading": passing_reading_percentage,
 "% Overall Passing": passing_mr_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [294]:
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

In [295]:
district_summary_df["Total Students"]

0    39,170
Name: Total Students, dtype: object

In [296]:
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Total Budget"]

0    $24,649,428.00
Name: Total Budget, dtype: object

In [297]:
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}%".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}%".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}%".format)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75%,86%,65%

In [298]:
#Generate summary data by school for each school in the district
#Determine school type and set school name as the index
per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [299]:
#Create new dataframe with school name as the index
school_info_df = pd.DataFrame(per_school_types)
school_info_df

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [300]:
#create new variable to hold school count for new data frame
per_school_counts = school_data_df.set_index(["school_name"])["size"]
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [301]:
#get school budget with school name as the index
school_budget = school_data_df.set_index(["school_name"])["budget"]
school_budget.head()

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Name: budget, dtype: int64

In [302]:
#Get budget per student for each school
per_student_budgets = school_budget / per_school_counts
per_student_budget.head()

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
dtype: float64

In [303]:
#Calculate average math and reading scores for each school
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]
print(per_school_math)
print(per_school_reading)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64
school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [304]:
 # To get the passing percentages, we need to:
 # 1. Determine what is the passing grade.

#Get the students who passed math or passed reading
#list of students passing math
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
#list of students passing reading
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

#Get the number of students who passed math or reading.
#count of students passing math by school
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
#count of students passing reading by school
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

#Calculate percentage of students who passed math and passed reading by school
#percent passing math
per_school_passing_math = per_school_passing_math / per_school_counts * 100
#percent passing reading
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100
print(per_school_passing_math)
print(per_school_passing_reading)

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64
school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [305]:
 # 2. Get the number of students who passed math and reading.
    # Calculate the passing scores by creating a filtered DataFrame.
# list of students who passed math & reading
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

per_passing_math_reading.head()
#group new dataframe by school and get count of students who passed math & reading
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]
per_passing_math_reading
#Calculate the percentage of students who passed both math and reading by school
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100
print(per_overall_passing_percentage)

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [306]:
#Create dataframe for district summary information
per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
     "Total Students": per_school_counts,
     "Total School Budget": school_budget,
     "Per Student Budget": per_student_budget,
     "Average Math Score": per_school_math,
     "Average Reading Score": per_school_reading,
     "% Passing Math": per_school_passing_math,
     "% Passing Reading": per_school_passing_reading,
     "% Overall Passing": per_overall_passing_percentage})
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [307]:
per_school_summary_df["Total Students"] = per_school_summary_df["Total Students"].map("{:,}".format)
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)
per_school_summary_df["Average Math Score"] = per_school_summary_df["Average Math Score"].map("{:.1f}".format)
per_school_summary_df["Average Reading Score"] = per_school_summary_df["Average Reading Score"].map("{:.1f}".format)
per_school_summary_df["% Passing Math"] = per_school_summary_df["% Passing Math"].map("{:.0f}%".format)
per_school_summary_df["% Passing Reading"] = per_school_summary_df["% Passing Reading"].map("{:.0f}%".format)
per_school_summary_df["% Overall Passing"] = per_school_summary_df["% Overall Passing"].map("{:.0f}%".format)
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.0,81.0,67%,82%,55%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.1,84.0,94%,97%,91%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.7,81.2,66%,81%,53%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.1,80.7,68%,79%,54%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.4,83.8,93%,97%,91%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.3,80.9,67%,81%,54%
Holden High School,Charter,427,"$248,087.00",$581.00,83.8,83.8,93%,96%,89%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.6,81.2,66%,81%,54%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.1,81.0,66%,81%,54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.8,84.0,95%,96%,91%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.8,80.7,66%,80%,53%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.4,83.7,94%,96%,90%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.4,83.8,93%,97%,91%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.3,84.0,94%,97%,91%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.7,84.0,93%,97%,90%

In [308]:
#Get the five highest performing schools
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)
#show top five performing schools
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.1,84.0,94%,97%,91%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.4,83.8,93%,97%,91%
Pena High School,Charter,962,"$585,858.00",$609.00,83.8,84.0,95%,96%,91%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.4,83.8,93%,97%,91%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.3,84.0,94%,97%,91%

In [309]:
#Get the 5 lowest performing schools
bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=True)
#show lowest performing schools
bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.7,81.2,66%,81%,53%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.8,80.7,66%,80%,53%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.1,80.7,68%,79%,54%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.3,80.9,67%,81%,54%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.6,81.2,66%,81%,54%

In [310]:
#Get average math scores for each school by grade.
#create new dataframe for each grade
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]
tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]
eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]
twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]
#group grades by school and get average math score for each school
ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_math_scores

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [311]:
#Get average reading scores for each school by grade.
#create new dataframe for each grade
#group grades by school and get average math score for each school
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_reading_scores

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

In [312]:
#Combine grade level series for average math score by school into single dataframe
math_scores_by_grade = pd.DataFrame({
    "9th Grade": ninth_grade_math_scores,
    "10th Grade": tenth_grade_math_scores,
    "11th Grade": eleventh_grade_math_scores,
    "12th Grade": twelfth_grade_math_scores,})
math_scores_by_grade

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     77.083676   76.996772   77.515588   76.492218
Cabrera High School    83.094697   83.154506   82.765560   83.277487
Figueroa High School   76.403037   76.539974   76.884344   77.151369
Ford High School       77.361345   77.672316   76.918058   76.179963
Griffin High School    82.044010   84.229064   83.842105   83.356164
Hernandez High School  77.438495   77.337408   77.136029   77.186567
Holden High School     83.787402   83.429825   85.000000   82.855422
Huang High School      77.027251   75.908735   76.446602   77.225641
Johnson High School    77.187857   76.691117   77.491653   76.863248
Pena High School       83.625455   83.372000   84.328125   84.121547
Rodriguez High School  76.859966   76.612500   76.395626   77.690748
Shelton High School    83.420755   82.917411   83.383495   83.778976
Thomas High School     83.590022   83.087886   83.498795   83.497041
Wilson High School     83.085578   83.724422   83.195326   83.035794
Wright High School     83.264706   84.010288   83.836782   83.644986

In [313]:
#Combine grade level series for average reading score by school into single dataframe
reading_scores_by_grade = pd.DataFrame({
    "9th Grade": ninth_grade_reading_scores,
    "10th Grade": tenth_grade_reading_scores,
    "11th Grade": eleventh_grade_reading_scores,
    "12th Grade": twelfth_grade_reading_scores,})
reading_scores_by_grade

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     81.303155   80.907183   80.945643   80.912451
Cabrera High School    83.676136   84.253219   83.788382   84.287958
Figueroa High School   81.198598   81.408912   80.640339   81.384863
Ford High School       80.632653   81.262712   80.403642   80.662338
Griffin High School    83.369193   83.706897   84.288089   84.013699
Hernandez High School  80.866860   80.660147   81.396140   80.857143
Holden High School     83.677165   83.324561   83.815534   84.698795
Huang High School      81.290284   81.512386   81.417476   80.305983
Johnson High School    81.260714   80.773431   80.616027   81.227564
Pena High School       83.807273   83.612000   84.335938   84.591160
Rodriguez High School  80.993127   80.629808   80.864811   80.376426
Shelton High School    84.122642   83.441964   84.373786   82.781671
Thomas High School     83.728850   84.254157   83.585542   83.831361
Wilson High School     83.939778   84.021452   83.764608   84.317673
Wright High School     83.833333   83.812757   84.156322   84.073171

In [314]:
#format math & reading score dataframe to 1 decimal point
math_scores_by_grade["9th Grade"] = math_scores_by_grade["9th Grade"].map("{:.1f}".format)
math_scores_by_grade["10th Grade"] = math_scores_by_grade["10th Grade"].map("{:.1f}".format)
math_scores_by_grade["11th Grade"] = math_scores_by_grade["11th Grade"].map("{:.1f}".format)
math_scores_by_grade["12th Grade"] = math_scores_by_grade["12th Grade"].map("{:.1f}".format)

reading_scores_by_grade["9th Grade"] = reading_scores_by_grade["9th Grade"].map("{:.1f}".format)
reading_scores_by_grade["10th Grade"] = reading_scores_by_grade["10th Grade"].map("{:.1f}".format)
reading_scores_by_grade["11th Grade"] = reading_scores_by_grade["11th Grade"].map("{:.1f}".format)
reading_scores_by_grade["12th Grade"] = reading_scores_by_grade["12th Grade"].map("{:.1f}".format)

#remove index name from dataframes
math_scores_by_grade.index.name = None
reading_scores_by_grade.index.name = None
math_scores_by_grade.head()

                     9th Grade 10th Grade 11th Grade 12th Grade
Bailey High School        77.1       77.0       77.5       76.5
Cabrera High School       83.1       83.2       82.8       83.3
Figueroa High School      76.4       76.5       76.9       77.2
Ford High School          77.4       77.7       76.9       76.2
Griffin High School       82.0       84.2       83.8       83.4

In [315]:
reading_scores_by_grade.head()

                     9th Grade 10th Grade 11th Grade 12th Grade
Bailey High School        81.3       80.9       80.9       80.9
Cabrera High School       83.7       84.3       83.8       84.3
Figueroa High School      81.2       81.4       80.6       81.4
Ford High School          80.6       81.3       80.4       80.7
Griffin High School       83.4       83.7       84.3       84.0